body {
    font-family: 'Georgia', serif;
    background-color: #003366; /* Bleu marine marocain */
    color: #FFF8DC; /* Ivoire pour le texte */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #006400; /* Jade profond */
    color: #FFF8DC; /* Ivoire */
    border-top: 5px solid #FFD700;
    border-bottom: 5px solid #FFD700;
}

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #003366;
    border-left: 15px solid #FFD700;
    border-right: 15px solid #FFD700;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Espace entre les images */
}

.gallery .image {
    flex-grow: 1;
    flex-basis: calc(33.333% - 40px); /* 3 images par ligne avec espace entre */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
    max-width: 100%;
}

.gallery .image img {
    max-width: 100%;
    height: auto;
    border: 5px solid #006400;
    border-radius: 15px; /* Bordures plus douces */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    object-fit: cover; /* Couvre tout l'espace disponible en gardant les proportions */
}

.gallery .image:hover {
    transform: scale(1.03);
    /* Légère augmentation de la taille au survol */
}

#fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#fullscreen-container img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid #006400; /* Bordure jade profond */
    border-radius: 10px;
}
