body {
    font-family: 'Georgia', serif;
    background-color: #00264D; /* Bleu marine plus profond */
    color: #FFF8DC; /* Ivoire pour le texte */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('texture.png'); /* Ajoutez une texture de fond ici */
    background-size: cover;
    background-attachment: fixed;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #004d00; /* Jade plus profond */
    color: #FFD700; /* Or */
    border-top: 5px solid #FFD700;
    border-bottom: 5px solid #FFD700;
}

.gallery-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #00264D;
    border-left: 20px solid #FFD700;
    border-right: 20px solid #FFD700;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribution uniforme avec de grands espaces */
    gap: 50px; /* Espace augmenté entre les images */
}

.image-wrapper {
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background-color: #004d00; /* Jade profond */
    padding: 20px;
}

.frame-piece {
    position: absolute;
    background-color: rgba(255, 215, 0, 0.7); /* Or avec opacité */
    transition: transform 0.8s ease-in-out, clip-path 1.2s ease-in-out;
    z-index: 1;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.frame-piece.top {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 15px;
}

.frame-piece.right {
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    border-radius: 15px;
}

.frame-piece.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 15px;
}

.frame-piece.left {
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    border-radius: 15px;
}

.image {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.image figcaption {
    color: #FFF8DC;
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
}

/* Media Queries pour ajuster le nombre d'images par ligne */
@media (max-width: 768px) {
    .image-wrapper {
        width: 100%;
    }
}

#fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#fullscreen-container img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid #006400;
    border-radius: 10px;
}

/* Animation pour simuler le glissement des cadres */
@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(calc(var(--randomX) * 1%), calc(var(--randomY) * 1%));
    }
    100% {
        transform: translate(0, 0);
    }
}
