body {
    font-family: 'Georgia', serif;
    background-color: #003366; /* Bleu marine marocain */
    color: #FFF8DC; /* Ivoire pour le texte */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #006400; /* Jade profond */
    color: #FFF8DC; /* Ivoire */
    border-top: 5px solid #FFD700;
    border-bottom: 5px solid #FFD700;
}

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #003366;
    border-left: 15px solid #FFD700;
    border-right: 15px solid #FFD700;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribution uniforme avec de grands espaces */
    gap: 40px; /* Espace augmenté entre les images */
}

/* Styles pour les cadres labyrinthiques */
.image-wrapper {
    position: relative;
    margin-bottom: 40px;
}

.frame-piece {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease-in-out, clip-path 1.2s ease-in-out;
    z-index: 1;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.frame-piece.top-left {
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 100%);
}

.frame-piece.top-right {
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 50%);
}

.frame-piece.bottom-left {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    clip-path: polygon(0% 100%, 50% 50%, 100% 100%, 0% 100%);
}

.frame-piece.bottom-right {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    clip-path: polygon(50% 50%, 100% 0%, 100% 100%, 0% 100%);
}

.image {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.image figcaption {
    color: #FFF8DC;
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
}
/* Media Queries pour ajuster le nombre d'images par ligne */
@media (max-width: 768px) {
    .image {
        flex-basis: calc(100% - 40px); /* Une image par ligne sur les petits écrans */
    }
}

#fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#fullscreen-container img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid #006400;
    border-radius: 10px;
}

/* Animation pour simuler le glissement des cadres */
@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(calc(var(--randomX) * 1%), calc(var(--randomY) * 1%));
    }
    100% {
        transform: translate(0, 0);
    }
}
